/* @font-face {
  font-family: 'john, Sans-serif';
  src: url('../fonts/AeonikPro-Bold.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vekser, Sans-serif';
  src: url('../fonts/AeonikPro-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
p{
  font-family:  "League Spartan", sans-serif;
  font-weight: 400;
 
}
h1,h2,h3,h4,h5 {
  font-family: "League Spartan", sans-serif;
}

h2{
font-size:40px ;
}
/* Footer */
/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */

section {
  padding-top: 60px;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background:rgb(242,238,238) !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: black;
}
#footer a {
  color: black;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color:black;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}


.navtext {
  /* set the default style */
  font-weight: 400 !important;
  color: black !important;
  padding-right: 35px !important;
}
.navbg{
background-color: white !important;
}
.logo-size{
  width:175px;
}
/* .p-font{
  font-weight: bolder;
} */

/* apply the style on hover */
.navtext:hover {
  /* make the text bold */
  font-weight: bolder;
  /* change the text color to blue */
  color: blue !important;
}

/* Media CSS */
.flex-column {
  max-width: 350px;
}

.img1 {
  margin: 6px;
}
/* Index Page Css */
.section{
  margin-top:50px;
}
.logo {
  width: 150px;
 
}
.responsive {
  width: 50%;
  height: auto;
}

h1.text-center.b-5 {
   font-weight: 700;
}
h1.b-5 {
  font-weight: 700;
}

button.btn.btn-primary {

  background-color: #5371E9;
color:white;
font-size: larger;
font-weight: bolder;
}

.my-button:hover {
transform: scale(1.2);
cursor: pointer;

}
/* .my-button:hover {
   transform: scale(1.2);
  cursor: pointer;

  transition-duration: .3s;
    transition-property: transform;

} */
a.btn.btn-primary {

  background-color: #5371E9;
color:white;
font-size: larger;
font-weight: bolder;
}

@media screen and (max-width: 768px) {
.mobile-logo{
  margin-top: 35px;
}
.section{
  margin-top:15px !important;
}
}

/* Video CSS */
.video-container {
  position: relative;
  height: 0;
  padding-bottom: 44.55%; /* 16:9 aspect ratio */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Career page CSS */
.card-box {
  box-shadow: -10px -7px 20px -5px grey;
}
.text-deco{
  text-decoration: none;
}
.head-text{
  font-size: 45px;
}
.first-text {
  
  opacity: 0;
  animation-name: fadeInBottom;
  animation-duration: 1s;
 
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to { opacity: 1 }
}

/* Portfolio CSS  */

.first-text {
    
  opacity: 0;
  animation-name: fadeInBottom;
  animation-duration: 1s;
 
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to { opacity: 1 }
}

.hovereffect{
  display: none;
}
.hovereffect1{
  cursor: pointer;
}

.hovereffect1:hover + .hovereffect
{
  display: block;

}
.divsize{
  height: 300px;
  
}
.divsize1{
  height: 200px;
  
}
.divsize2{
  height: 150px;
  
}
.divsize3{
  height: 250px;
  
}
/* .my-button:hover {
  transform: scale(1.2);
  cursor: pointer;

} */
.my-button:hover {
  /* transform: scale(1.2);
  cursor: pointer; */ 
  /* yash */
  transition-duration: .3s;
    transition-property: transform;

}
/* About US page css */

/* Invest css
 */
 .banner {
  /* position: relative;
  width: 100%;
  margin-top: -60px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -60px;
}

.banner img {
  width: 100%;
  height: 600px;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 22%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.banner-text h1 {
  font-size: 5em;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 768px) {
  .banner {
    position: relative;
    width: 100%;
    margin-top: -10px;
  }
  .banner img {
    width: 100%;
    height: 300px;
  }
  
  .banner-text {
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
  }
  .mobile-center{
    text-align: center !important;
  }
  .banner-text h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }
  a.btn.btn-primary {

  background-color: #5371E9;
  color:white;
  font-size:small !important;
  font-weight:bold;
  }
  
  .banner-button{
    left: 20% !important;
  }
  .text-style-grow{ 
       max-width: 492px;
      color: rgba(25, 145, 255, 1);
      font-size: 60.08738708496094px !important;
      line-height: 81.49999976158142%;
      letter-spacing: 0%;
      text-align: left;
      font-family: "League Spartan", sans-serif; 
    
  }
  .div-6 {
    max-width: 1808.427734375px;
    color: rgba(0, 0, 0, 1);
    font-size: 40px !important;
    letter-spacing: 0%;
    text-align: left; 
    
  }
  .div-7 {
     max-width: 943px;
    color: rgba(0, 0, 0, 1);
    font-size: 120.1230773925781px !important;
    
    letter-spacing: 0%;
    text-align: left;
    font-family: "League Spartan", sans-serif;
  }
  .connect-text{
    text-align: center !important;
    margin-bottom: 30px;
  }
  .how-img{order:-1;}
  
.invest-graphic{
 
  margin-left:0px !important;
}
}

.text-style-grow{
 
  max-width: 492px;
  color: rgba(25, 145, 255, 1);
  font-size: 100px;
  font-weight: bolder !important;
  line-height: 81.49999976158142%;
  letter-spacing: 0%;
  text-align: left;
  font-family: "League Spartan", sans-serif;

}
.div-6 {
max-width: 1808.427734375px;
color: rgba(0, 0, 0, 1);
font-size: 50px;
letter-spacing: 0%;
text-align: left;

}
.div-7 {
max-width: 943px;
color: rgba(0, 0, 0, 1);
font-size: 178.1230773925781px;
letter-spacing: 0%;
text-align: left;
font-family: "League Spartan", sans-serif;
}


.pfont{
  font-weight: bolder;
}

/* bannner button */
.banner-button {
  position: absolute;
  top: 90%;
  left: 12%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}
/* Text Align */
/* .textalign{
text-align: justify !important;
} */

.logo{
  margin-top: 60px;
}

.logodiv{
  height: 100px;
}
.danlogo{
  margin-top:78px !important;
}


.invest-graphic{
 
  margin-left: 100px;
}